<div class="container">
  <div class="title-container"><h1 class="title">Registrar Tratamientos</h1></div>
    <form [formGroup]="form" (submit)="aceptar()">
      <mat-form-field *ngIf="edicion">
        <mat-label>Codigo</mat-label>
        <input matInput formControlName="codigo" readonly/>
      </mat-form-field>
      <br />
        <mat-form-field>
          <mat-label>Nombre</mat-label>
          <input matInput formControlName="nombre" />
          <mat-error *ngIf="form.get('nombre')?.hasError('required')"
          >El nombre es obligatorio.</mat-error
        >
        </mat-form-field>
        <br />
        <mat-form-field>
          <mat-label>Selecciona la fecha de inicio</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="fechaini">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="form.get('fechaini')?.hasError('required')"
          >La fecha de inicio es obligatorio.</mat-error
        >
        </mat-form-field>
        <br />
        <mat-form-field>
          <mat-label>Selecciona la fecha fin</mat-label>
          <input matInput [matDatepicker]="hpicker" formControlName="fechafin">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="hpicker"></mat-datepicker-toggle>
          <mat-datepicker #hpicker></mat-datepicker>
          <mat-error *ngIf="form.get('fechafin')?.hasError('required')"
          >La fecha fin es obligatorio.</mat-error
        >
        </mat-form-field>
        <br />
        <mat-form-field>
            <mat-label>Estado de tratamiento</mat-label>
            <mat-select formControlName="estadotratamiento">
              <mat-option *ngFor="let g of listaestados" [value]="g.value">
                {{ g.viewValue }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('estadotratamiento')?.hasError('required')"
              >El estado del tratamiento es obligatorio.</mat-error
            >
          </mat-form-field>
          <br />
          <mat-form-field>
            <mat-label>Descripcion de tratamiento:</mat-label>
            <textarea matInput formControlName="descripciontratamiento" rows="3"></textarea>
            <mat-error *ngIf="form.get('descripciontratamiento')?.hasError('required')"
              >La descripcion del tratamiento es obligatoria.</mat-error
            >
          </mat-form-field>
          <br />
          <mat-form-field>
            <mat-label>Efectividad de tratamiento</mat-label>
            <mat-select formControlName="efectividadtratamiento">
              <mat-option *ngFor="let g of listaefectividad" [value]="g.value">
                {{ g.viewValue }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('efectividadtratamiento')?.hasError('required')"
              >La efectividad del tratamiento es obligatorio.</mat-error
            >
          </mat-form-field>
        <br />
        <div class="title-container"><button mat-raised-button color="primary">Registrar</button>
          <button mat-raised-button color="warn" routerLink="/tratamientos">
            Cancelar
          </button>
        </div>
      </form>
</div>