<div class="container">
    <div class="title-container"><h1 class="title">Lista de Usuarios</h1></div>
    <div class="button-container">
      <button mat-fab extended color="white" routerLink="/mensajes/nuevo" class="custom-button">
        <mat-icon>mail</mat-icon> 
        Registrar Mensaje
      </button>
    </div>
    <br>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef > Id </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>
        
          <ng-container matColumnDef="username">
            <th mat-header-cell *matHeaderCellDef> Username </th>
            <td mat-cell *matCellDef="let element"> {{element.username}} </td>
          </ng-container>
        
          <ng-container matColumnDef="correo">
            <th mat-header-cell *matHeaderCellDef> Correo </th>
            <td mat-cell *matCellDef="let element"> {{element.correoUsers}} </td>
          </ng-container>

          <ng-container matColumnDef="especialidad">
            <th mat-header-cell *matHeaderCellDef> Especialidad </th>
            <td mat-cell *matCellDef="let element"> {{element.especialidadUsers}} </td>
          </ng-container>

          <ng-container matColumnDef="enabled">
            <th mat-header-cell *matHeaderCellDef> Enabled </th>
            <td mat-cell *matCellDef="let element"> {{element.enabled}} </td>
          </ng-container>

          <ng-container matColumnDef="editar">
            <th mat-header-cell *matHeaderCellDef> Actualizar </th>
            <td mat-cell *matCellDef="let element" >   <button
              mat-raised-button
              color="primary"
              [routerLink]="['ediciones', element.id]"
            >
            <mat-icon> border_color</mat-icon>        </button></td>
          </ng-container>

          <ng-container matColumnDef="eliminar">
            <th mat-header-cell *matHeaderCellDef>Eliminar</th>
            <td mat-cell *matCellDef="let element">
              <button
                mat-raised-button
                color="warn"
                (click)="deletes(element.id)"
              >
              <mat-icon>delete</mat-icon>
            </button>
            </td></ng-container
          >
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <br>
        <mat-paginator [length]="50"
        [pageSize]="7"
        [pageSizeOptions]="[7, 10, 15]"
        aria-label="Select page" color="primary">
        </mat-paginator>
  </div>
