<div class="container">
    <div class="title-container"><h1 class="title">Lista de Recetas</h1></div>
    <div class="button-container">
      <button mat-fab extended color="white" routerLink="/recetas/nuevo" class="custom-button">
        <mat-icon>add_circle</mat-icon> 
        Nueva Receta
      </button>
      <button mat-fab extended color="white" routerLink="/detallesclinicos" class="custom-button">
        <mat-icon>folder_shared</mat-icon> 
        Detalle Clinico
      </button>
    </div>
    <br>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="codigo">
            <th mat-header-cell *matHeaderCellDef> Id </th>
            <td mat-cell *matCellDef="let element"> {{element.idRecetas}} </td>
        </ng-container>

        <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.nombreRecetas}} </td>
        </ng-container>

        <ng-container matColumnDef="cantidad">
            <th mat-header-cell *matHeaderCellDef> Cantidad </th>
            <td mat-cell *matCellDef="let element"> {{element.cantidadRecetas}} </td>
        </ng-container>
        
        <ng-container matColumnDef="observaciones">
            <th mat-header-cell *matHeaderCellDef> Observaciones </th>
            <td mat-cell *matCellDef="let element"> {{element.observacionesRecetas}} </td>
        </ng-container>

        <ng-container matColumnDef="editar">
            <th mat-header-cell *matHeaderCellDef> Actualizar </th>
            <td mat-cell *matCellDef="let element" >   <button
              mat-raised-button
              color="primary"
              [routerLink]="['ediciones', element.idRecetas]"
            >
            <mat-icon> border_color</mat-icon>        </button></td>
          </ng-container>

          <ng-container matColumnDef="eliminar">
            <th mat-header-cell *matHeaderCellDef>Eliminar</th>
            <td mat-cell *matCellDef="let element">
              <button
                mat-raised-button
                color="warn"
                (click)="deletes(element.idRecetas)"
              >
              <mat-icon>delete</mat-icon>
            </button>
            </td></ng-container
          >
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>     
    <br> 
    <mat-paginator [length]="50"
    [pageSize]="7"
    [pageSizeOptions]="[7, 10, 15]"
    aria-label="Select page" color="primary">
    </mat-paginator>

</div>