<div class="container">
    <div class="title-container"><h1 class="title">Lista de Examenes</h1></div>
    <div class="button-container">
      <button mat-fab extended color="white" routerLink="/examenes/nuevo" class="custom-button">
        <mat-icon>add_circle</mat-icon> 
        Nuevo Examen
      </button>
      <button mat-fab extended color="white" routerLink="/detallesclinicos" class="custom-button">
        <mat-icon>folder_shared</mat-icon> 
        Detalle Clinico
      </button>
    </div>
    <br>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

          <ng-container matColumnDef="idexamenes">
            <th mat-header-cell *matHeaderCellDef > Id </th>
            <td mat-cell *matCellDef="let element"> {{element.idExamenes}} </td>
          </ng-container>
        
          <ng-container matColumnDef="nombreexamenes">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.nombreExamenes}} </td>
          </ng-container>
        
          <ng-container matColumnDef="fechaexamenes">
            <th mat-header-cell *matHeaderCellDef> Fecha de Examen </th>
            <td mat-cell *matCellDef="let element"> {{element.fechaExamenes}} </td>
          </ng-container>
        
          <ng-container matColumnDef="resultadosexamenes">
            <th mat-header-cell *matHeaderCellDef> Resultados </th>
            <td mat-cell *matCellDef="let element"> {{element.resultadosExamenes}} </td>
          </ng-container>

          <ng-container matColumnDef="observacionesexamenes">
            <th mat-header-cell *matHeaderCellDef> Observaciones </th>
            <td mat-cell *matCellDef="let element"> {{element.observacionesExamenes}} </td>
          </ng-container>
          
          <ng-container matColumnDef="editar">
            <th mat-header-cell *matHeaderCellDef> Actualizar </th>
            <td mat-cell *matCellDef="let element" >   <button
              mat-raised-button
              color="primary"
              [routerLink]="['ediciones', element.idExamenes]"
            >
            <mat-icon> border_color</mat-icon>        </button></td>
          </ng-container>

          <ng-container matColumnDef="eliminar">
            <th mat-header-cell *matHeaderCellDef>Eliminar</th>
            <td mat-cell *matCellDef="let element">
              <button
                mat-raised-button
                color="warn"
                (click)="deletes(element.idExamenes)"
              >
              <mat-icon>delete</mat-icon>
            </button>
            </td></ng-container
          >
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <br>
        <mat-paginator [length]="50"
        [pageSize]="7"
        [pageSizeOptions]="[7, 10, 15]"
        aria-label="Select page" color="primary">
        </mat-paginator>
  </div>
